body {
    .container-wrap {
        .card-coti {
            width: 400px;
            height: fit-content;

            h1 {
                color: #3b4444;
                outline-color: #a8cee5;
            }

            form {
                height: 80px;
                width: 100%;

                input {
                    width: 80%;
                }

                button {
                    width: 90%;
                }
            }
        }
    }
}